@font-face {
  font-family: Roboto;
   src: url("assets/fonts/Roboto.ttf");
}

   @font-face {
    font-family: Work Sans;
     src: url("assets/fonts/Work Sans.ttf");
   }

   * {
    box-sizing: border-box;
  }

   html {
      font-family: 'Work Sans', sans-serif;
      font-size: 22px;
      font-weight: 300;
      line-height: 2;
      color: gray;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    h1 {
      color: rgb(53, 53, 52);
      font-family: Roboto;
      margin-top: 1em;
      margin-bottom: 0%;
      text-align: center;
    }

    h2 {
      color: green;
      margin-bottom: 0;
      margin-top: 0em;
      font-weight: 500;
      text-align: center;
    }


img {
  height: 270px;
  weight: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contacts {
  text-align: center;
}

h3 {
  color: rgb(185, 185, 31);
  text-align: center;
}


h4 {
  color: chartreuse;
  text-align: center;
}

h5 {
  color: aquamarine;
  text-align: center;
  font-size: larger;
}


h6 {
  color: black;
  text-align: center;
  font-size:larger
}

    
  


    
 
  
